<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main"/>
    <g:set var="entityName" value="${message(code: 'customer.label', default: 'Customer')}"/>
    <title><g:message code="default.create.label" args="[entityName]"/></title>
</head>

<body>
<a href="#create-customer" class="skip" tabindex="-1"><g:message code="default.link.skip.label"
                                                                 default="Skip to content&hellip;"/></a>

<g:render template="/layouts/nav"/>

<div id="create-customer" class="content scaffold-create" role="main">
    <h1><g:message code="default.create.label" args="[entityName]"/></h1>
    <g:if test="${flash.message}">
        <div class="message" role="status">${flash.message}</div>
    </g:if>
    <g:hasErrors bean="${this.customer}">
        <ul class="errors" role="alert">
            <g:eachError bean="${this.customer}" var="error">
                <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message
                        error="${error}"/></li>
            </g:eachError>
        </ul>
    </g:hasErrors>
    <g:form resource="${this.customer}" method="POST">
        <fieldset class="form">
            <g:render template="form"/>
        </fieldset>

        <div class="fieldcontain row ${hasErrors(bean: customer?.secUser, field: 'password', 'error')} required">
            <label for="password" class="col-md-6"><g:message
                    code="customer.form.password"
                    default="Password"/> <span
                    class="required-indicator">*</span>
            </label>
            <g:passwordField class="col-md-6" name="passwordID" required=""/>
        </div>


        <fieldset class="buttons">
            <g:submitButton name="create" class="save"
                            value="${message(code: 'default.button.create.label', default: 'Create')}"/>
        </fieldset>
    </g:form>
</div>
</body>
</html>
