  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

  body, li {
    font-family: 'Poppins', sans-serif !important;
  }

  html, body {
    width: 100%;
    overflow-x: hidden;
    min-height: 100%;
  }
   .container-fluid {
     padding-left: 40px ;
     padding-right: 40px ;
   }
  .upper-menu, .navbar-default, .navbar-static-top {
  /*background: #04d3c8; */
  /*background: -moz-linear-gradient(-45deg, #04d3c8 0%, #09d39f 100%); */
  /*background: -webkit-linear-gradient(-45deg, #04d3c8 0%,#09d39f 100%);*/
  /*background: linear-gradient(135deg, #04d3c8 0%,#09d39f 100%); */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04d3c8', endColorstr='#09d39f',GradientType=1 ); */
    background: #FFFFFF;
    padding: 20px 0;
    border-bottom: 1px solid #ffa82c;
  }


  .menu-registro {
    height: 100%;
  }
  .menu-registro ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .img-responsive {
    max-width: 100%;
  }

  .logo img{
    width: 300px;
    padding: 10px 0;
  }
  .menu-registro {
    list-style: none;
  }
  .menu-registro li form .btn-link{
    display: inline-block;
    color: #ff6d00;
    font-weight: 400;
    padding-right: 20px;
    font-size: 1.2em;
    padding-top: 40px;

  }
  .btn.focus, .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  ul.inner-menu-principal {
    padding-left: 0 !important;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
  }
  ul.inner-menu-principal li.home {
    width: 10% !important;
  }
  ul.inner-menu-principal li {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: color 1000ms;
    transition: color 1000ms;
    width: 15%;
    text-align: center;
  }

  ul.inner-menu-principal li a {
    color: #333;
    display: block;
    height: 100%;
    transition: color .5s;
  }
  ul.inner-menu-principal li a:hover {
    text-decoration: none;
    color: #fff;
  }

  ul.inner-menu-principal li:before, .btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: #ffa82c;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  ul.inner-menu-principal li:hover:before, .btn:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  .menu-icon {
    width: 30px;
  margin-right: 8px;
  vertical-align: middle;
  padding-bottom: 5px;
  }

  section#main-image {
    width: 100%;
    height: 85vh;
    background-image: url('img/slide.jpg');
    background-repeat: no-repeat;

  }

  footer p {
    margin-bottom: 0 !important;
    padding: 20px;
    font-size: .8em;
    color: #fff;
    background: #333;
  }

  .login-bg {
    /*background: #04d3c8; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg, #04d3c8 0%, #09d39f 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(-45deg, #04d3c8 0%,#09d39f 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(135deg, #04d3c8 0%,#09d39f 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04d3c8', endColorstr='#09d39f',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/

    width: 100%;
    height: 94vh;
  }

  .login-box {
    margin-top: 30px;
    padding: 80px;
    background: #fffcf7;
    border-radius: 20px;
    border: 1px solid #ffa82c;
  }
  .login-box h4 {
    margin-bottom: 50px;
  }


  .btn {
    background: transparent !important;
    border-radius: 3px !important;
    border: 2px solid #ffa82c !important;
    position: relative;
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
    -webkit-transition: color 1000ms !important;
    transition: color 1000ms !important;
    padding: 10px 30px !important;
    color: #ffa82c !important;
  }
  .btn:hover {
    color: #fff !important;
  }

  form .btn {
    margin-top: 20px;
  }

  .filtros-btn, .arrow-btn {
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    color: #ff6f03 !important;
    border-color: #ff6d00 !important;
  }

  .arrow-btn {
    padding: 5px 15px !important;

  }

  .filtros-btn:hover, .arrow-btn:hover {
    border-color: #5cd3c6;
    background-color: #00a6aa;
  }
  .filtros {
    padding: 15px 30px;
    color: #231f20;
    font-size: .9em;
    display: none !important;
  }

  .filtros.open {
    display: block !important;
  }
  .filtros label {
    width: 100%;
  }

  .filtros .select {
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 10px;
    background: #fafafa url("img/icon-select.png") no-repeat 95% 50%;
    display: inline-block;
    margin-left: 10px;
  }
  .filtros select {
    padding: 5px 8px;
    width: 100%;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;

  }


  .filtros label input {
    border: 1px solid #ccc;
    background: #fafafa;
    width: 250px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 8px;
  }
  .filtros .btn.btn-default {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    padding: 0;
  }
  .filtros .btn.btn-default.agregar-filtro,   .filtros .btn.btn-default.cerrar-filtros {
    padding: 0 !important;
  }

  .filtros-aplicados ul {
    list-style: none;
    padding-left: 15px !important;
    margin: 10px 0;
  }
  .filtros-aplicados ul li {
    display: inline-block;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: #9d9d9c;
    color: #fff;
    font-size: .8em;
  }
  .filtros-aplicados ul li .fa-times {
    opacity: .8;
    margin-left: 5px;
  }
  .filtros-aplicados ul li:hover .fa-times{
    opacity: 1;
  }

  .filtros-aplicados ul li.closed {
    display: none;
  }

  hr {
    margin-top: 20px;
    border-top: 1px dashed #ffa92f;
  }
  .create {
    margin-bottom: 20px;
    text-decoration: none;
  }

  .opciones {
    margin-top: 20px;
  }

  .opciones > div {
    text-align: right !important;
  }

  .opciones .total, .opciones .numero-paginas {
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
    flex-direction: column;
  }
  #numberPerPage {
    width: 65px;
    margin-left: 10px;
  }
  .opciones .prevnext {
    text-align: right;
  }

  .opciones .btn-group {
    margin-left: 10px;
  }
  #prevPage, #nextPage {
    padding: 2px 10px !important;
  }

  @media only screen and (max-width: 768px) {
    .opciones div {
      text-align: center !important;
      margin-bottom: 10px;
    }
  }

  .product_list article {
    margin-bottom: 40px;
  }
  .product_text h2 {
    font-size: 1.2em;
    margin-bottom: 0;
    text-align: center;
    min-height: 2.3em;
  }
  .product_detail p {
    text-align: center;
    margin-bottom: 0;
  }
  .product_text .precio {
    font-size: 1.8em;
    font-weight: bold;
  }

  .add_button {
    background: #ff6d00 !important;
    color: #fff !important;
    border-color: #ff6d00 !important;
    font-weight: bold !important;
    padding: 5px !important;
  }
  .add_button.added {
    background-color: #ffa92f !important;
    border-color: #ffa92f!important;
  }
  .add_button:focus, .add_button:active,
  .add_button:hover {
    outline: none !important;
    box-shadow: none !important;
    background: #ffa92f;
  }

  .edit_image {
      margin-top: 10px;
  }

  .top_carrito ul.total_pedido {
    list-style: none;
    text-align: right;
  }
  .top_carrito ul.total_pedido li {
    display: inline-block;
  }
  .top_carrito ul.total_pedido li.total_numero {
    margin-right: 10px;
    font-size: 1.5em;
    vertical-align: middle;
  }


  .carrito .table thead th {
    font-weight: 700;
    font-size: .7em;
    border: none;
  }
  .carrito_imagen {
    width: 65px;
    float: left;
    margin-right: 10px;
  }
  .carrito_imagen img{
    max-height: 65px;
    max-width: 65px;
    margin: 0 auto;
  }
  .carrito_descripcion {
    font-weight: 600;
    padding-top: 20px;
  }
  .table tbody td span{
    font-weight: 600;

  }

  .product_text h2 a {
    color: #000000 !important;
  }

  .product_list .product_image {
    margin-bottom: 20px;
    max-width: 352px;
    max-height: 352px;
  }

  .product_list .product_image img {
    margin: 0 auto;
    max-height: 332px;
  }

  @media only screen and (max-width: 1024px) {
    .product_list .product_image img{
      max-height: 166px;
    }
  }

  .product_list .precio {
    text-align: center;
    color: #ffa92f;
    margin-bottom: 10px;
  }
  .product_item {
    padding: 20px;
    background: #FFFFFF;
    -webkit-box-shadow: 3px 5px 10px -4px rgba(0,0,0,0.19);
    -moz-box-shadow: 3px 5px 10px -4px rgba(0,0,0,0.19));
    box-shadow: 3px 5px 10px -4px rgba(0,0,0,0.19);
  }
  ul.menu {
    width: 100%;
    padding-left: 40px;
  }

  .carrito-menu {
    float: right !important;
    position: relative;
  }

  .carrito-menu a {
    padding-left: 0 !important;
    padding-bottom: 0;
  }

  .carrito-menu a:hover {
    background-color: transparent;
    color: #ffa92d !important;
  }
  .carrito-menu .fa-shopping-cart {
    font-size: 1.5em;
    margin-right: 30px;
    vertical-align: middle;
    color: #000000;

  }

  .carrito-menu div{
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ff7b19;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product_list .table tbody tr td {
    vertical-align: middle !important;
  }

  .limpiar {
    background-color: transparent;
    border: none;
    color: #ffa92f;
    padding: 20px;
  }

  .total_pedido .btn {
    margin-top: 0 !important;
  }

  .total_pedido .btn:hover, .btn-primary:hover {
    background-color: #ffa92f !important;
  }
  .carrito_descripcion p {
    margin-bottom: 0 !important;
    font-size: 1.3em;
  }

  .eliminar_item {
    width: 100px;
    text-align: center;
  }


  .categorias_menu {
    background-color: #ff6f03;
    position: relative;
    height: 56px;
    -webkit-transition: height .5s;
    transition: height .5s;
    overflow: hidden;
    scrolltop: 0;
    top: 0;
  }

  .categorias_menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    list-style: none;
    height: 100%;


  }
  .categorias_menu ul li {
    font-size: 1rem;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    line-height: 1.25rem;
    letter-spacing: .5px;
    color: #fff;
    width: auto;
    padding: 0;
    margin: 0;
  }
  .categorias_menu ul li a {
    color: #fff !important;
    display: block;
    padding: 18px 9px;
    font-weight: 400;
    margin: 0;
    text-transform: none;
    white-space: nowrap;
    letter-spacing: .5px;
    text-align: center;
    line-height: 1.5em;
    height: 100%;
  }

  .categorias_menu ul li a:hover {
    background-color: #ffa82c ;
    text-decoration: none;
  }

.formulario {
  background: #fffcf7;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #ffa82c;
}

  @media only screen and (max-width: 480px) {
    ul.menu {
      padding-left: 0 !important;
    }
    .nav li {
      float: none;
      text-align: center;
    }
    .categorias_menu ul {
      overflow-x: scroll;
      padding-left: 0;
      padding-right: 0;
    }

  }