<div class="fieldcontain row ${hasErrors(bean: benfitInstance, field: 'description', 'error')} required">

	<label
			ng-class="{ error: connexionform.email.$touched &amp;&amp; !connexionform.email.$valid }"
			uib-tooltip="Entrez votre email" class="ng-binding col-sm-4 col-form-label"
			for="inputEmail"><g:message code="login.auth.user"/></label>

	<div class="col-md-8">
	<g:textField name="arg0"  id='arg0'  class="form-control" />
	</div>
</div>