<g:if test="${elementos != null}">
<li class="carrito-menu"><g:link controller="orders" action="checkout"><i class="fas fa-shopping-cart"></i> <div>${elementos}</div>${texto}</a></li></g:link>
</g:if>